body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ee0303;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  .gallery img {
    max-width: 100%;
    height: auto;
  }
  